body {
  padding-top: 4em;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-auto-flow: column;
}

h1 {
  color: #9f3e64;
  background-color: #f1cc9a;
  letter-spacing: 0.2em;
  font-size: large;
  text-align: left;
  text-transform: uppercase;
  border: 2px solid #9f3e64;
  border-top-left-radius: 1em;
  border-bottom: none;
  padding-left: 0.5em;
  margin-bottom: 0;
}

main{
  font-size: large;
  font-weight: bold;
  border: 2px solid #9f3e64;
}

.column-1 {
  padding-bottom: 1em;
  background-color: #f4f8c9;
}

.column-2 {
  border-left: solid 2px #9f3e64;
  padding: 1em;

}

img {
  height: 5em;
  width: 100%;
  background-color: #f1cc9a;
}

form p {
  text-align: left;
  padding-left: 0.5em;
  margin-right: 2em;
}

div p {
  color: #9f3e64;
  letter-spacing: 0.1em;
}

#calcular-salario-mensual {
  background-color: green;
}

#reiniciar {
  background-color: red;
}

#salario-mensual {
  color: blue;
}

.mensual {
  justify-content: center;
  display: flex;
}

.anual {
  justify-content: center;
  display: flex;
}
